@import url('https://fonts.googleapis.com/css?family=Lato:100,400');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/

html {
  background: #839ea8 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient(#fffbe8, #839ea8);
  background:    -moz-linear-gradient(#fffbe8, #839ea8);
  background:         linear-gradient(#fffbe8, #839ea8);
  background-repeat: no-repeat;
  min-height: 100%;
}

body {
  color: #7b8481;
  font-family: 'Lato', sans-serif;
}
.container {
  border-bottom: 2px solid #9da0a0;
}
.name {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  margin-left: 10px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.nav {
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 10px;
  text-transform: uppercase;
  text-align: right;
}
.hero {
  clear: both;
  text-align: center;
}
a {
  color: #839ea8;
  text-decoration: none;
}
a:hover {
  color: #d7e2df;
}
.intro {
  font-size: 22px;
  margin: 20px 40px;
  padding: 20px 40px;
  text-align: center;
  letter-spacing: .5px;
  font-weight: 300;
  color: black;
}

/*
  ========================================
  Img
  ========================================
*/
.img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  border: 1px solid #4b5150;
}
